@using DepartmentContracts.ViewModels;
@using DepartmentDataModels.Enums
@{
    ViewData["Title"] = "DeleteLecturer";
}
<div class="text-center">
    <h2 class="display-4">Удаление Lecturer</h2>
</div>
<style>
    .row { margin-top: 10px; }
</style>
<form method="post">
    <div class="row">
        <div class="col-4">Выберите Lecturer</div>
        <div class="col-8">
            <select id="id" name="id" class="form-control" asp-items="@(new SelectList(@ViewBag.LecturersList, "Id", "Id"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <input type="submit" value="Удалить" class="btn btn-primary" />
        </div>
    </div>
</form>
